@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;500;600;800&display=swap');

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --cream-hex: #F6F3E4;
  --black-hex: #171918;
  --purple-hex: #6A38F3;
  --red-hex: #FF0000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-cream: var(--cream-hex);
  --color-black: var(--black-hex);
  --color-purple: var(--purple-hex);
  --color-red: var(--red-hex);
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
